<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Generative AI Website</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
        body {
            background-color: #081828;
            background-image: url("../static/bg-shapes.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            position: relative;
            background-attachment: fixed;
        }
    </style>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12" style="padding-top: 5%;">
                    <h1 style="margin-top: 10%; margin-bottom: 5%;">
                        <span style="font-size: 35px; font-weight: bold; color:white">Text AI</span>
                    </h1>
                    <form action="/" method="post">
                        <p  style="font-size: 20px; color:white"> Please enter the question you would like to ask</p>
                        <p> <input title="text" type="text" name = "question_text" style="width: 30vw; height: 5vh;"></p>
                        <p><input title="submit" type="submit" value="Enter" style="width: 5vw;"></p>
                    </form>
                    <p style="font-size: 20px; font-weight: bold; color:white;">Reply</p>
                    <div class="table-responsive" style="height: 50vh">
                        <p style="font-size: 20px; color:white">{{response_text}}</p>
                    </div>
                </div>
                <div class="col-md-6 col-12" style="padding-top: 5%;">
                    <h1 style="margin-top: 10%; margin-bottom: 5%;">
                        <span style="font-size: 35px; font-weight: bold; color:white">Image AI</span>
                    </h1>
                    <form action="/" method="post">
                        <p style="font-size: 20px; color:white">Please enter the image your would like to generate</p>
                        <p><input title="text" type="text" name="question_image" style="width: 30vw; height: 5vh;"></p>
                        <p><input title="submit" type="submit" value="Enter" style="width: 5vw;"></p>
                    </form>
                    <p style="font-size: 20px; font-weight: bold; color:white">Image</p>
                    <p><img src={{image_text}} style="height: 50vh;" title="image"></p>
                </div>

            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        

    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
